@import "tailwindcss";
/*reference to my fonts below*/

/*family=Cookie */
/*family=Crimson*/
/* family=Playfair*/



/*new pink #BE1AC7*/
/*old pink #FF69B4*/
/*new teal c*/
/*old teal #00bcd4*/
/*1041 x 494 my loaner laptops fullscreen*/
/*Note to Future Niko: Try out text-4xl for section titles*/
@theme {
    --color-dark-purple-start: #370258;
    --color-dark-purple-end: #1a012f;
    --color-accent-cyan: #00bcd4;
    --color-accent-pink: #BE1AC7;
    --font-mono: 'Monoserrat', sans-serif;
    --font-lato: 'Lato', sans-serif;
    --font-poppins: 'poppins', sans-serif;
    --font-cookie: "cookie", sans-serif;
    --font-playfair: "playfair", serif;
    --font-crimson: "crimson", serif;
    --breakpoint-md: 1020px;
    --breakpoint-timelineBP: 1004px;

}

body {
    font-family: 'Lato', sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--color-dark-purple-start);
}

h1 {
    color:var(--color-accent-pink);
    font-family: var(--font-poppins);
    font-size: var(--text-4xl);
}


h2, h3, h4, h5, h6 {
    font-family: 'Monserat', sans-serif;
    color: var(--color-accent-cyan);
}
